$primary: #2196F3;
$success: #4CAF50;
$warning: #FF5722;
$danger: #F44336;
$info: #00BCD4;
$plain: true;

.btn{
    font-size: 14px;
    line-height: 36px;
    padding: 0 18px;
    border-radius: 4px;
    border: 0;
    background-color: transparent;
    outline: 0;
    color: $primary;
    & + .btn{
        margin-left: 10px;
    }
}

@mixin create-btn($plain,$key,$type){
    @if $plain {
        .plain.btn-#{$key}{
            color: $type;
            background:#fff;
            border: 1px solid $type;
            &:hover{
                color: lighten($type,5%);
                border-color: lighten($type,5%);
            }
            &:active{
                color: darken($type,5%);
                border-color: darken($type,5%);
            }
        }
    }@else{
        .btn-#{$key}{
            color: #fff;
            background: $type;
            &:hover{ background: lighten($type,5%); }
            &:active{ background: darken($type,5%); }
        }
    }
}
// type
 @include create-btn(false,primary,$primary)
 @include create-btn(false,success,$success)
 @include create-btn(false,warning,$warning)
 @include create-btn(false,danger,$danger)
 @include create-btn(false,info,$info)
 @include create-btn(true,primary,$primary)
 @include create-btn(true,success,$success)
 @include create-btn(true,warning,$warning)
 @include create-btn(true,danger,$danger)
 @include create-btn(true,info,$info)

// size
.btn-large{
    font-size: 16px;
    line-height: 40px;
} 
.btn-small{
    font-size: 12px;
    line-height: 28px;
} 
.btn-mini{
    font-size: 12px;
    line-height: 22px;
}

// disabled
.disabled{
    opacity: .5;
    cursor: not-allowed;
}