// 单选样式
%radio-inner-after{
	content:'';
	width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    display: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.H-radio{
	.H-radio-input{
		position: relative;
	    display: inline-block;
	    cursor: pointer;
	    vertical-align: middle;
	    .H-radio-inner{
			position: relative;
			box-sizing: border-box;
			width: 18px;
		    height: 18px;
		    display: inline-block;
		    background: #fff;
		    border-radius: 50%;
		    border: 1px solid #d5d5d5;
		    &:hover{
		    	border-color:#8cc96c;
		    }
		}
		.H-radio-original{
			position: absolute;
		    left: 0;
		    top: 0;
		    z-index: -1;
		    opacity: 0;
		    outline: 0;
		}
	}
	.checked.H-radio-input{
		.H-radio-inner{
		    background: #8cc96c;
		    border-color:#8cc96c;
		    &::after{
		    	@extend %radio-inner-after;
		    }
		}
	}
	.disabled.checked.H-radio-input{
		cursor: not-allowed;
		.H-radio-inner{
		    background-color: #ccc;
		    pointer-events: none;
		    &::after{
		    	@extend %radio-inner-after;
		    }
		}
	}
	.disabled.H-radio-input{
		.H-radio-inner{
			background-color: #e5e5e5;
			pointer-events: none;
		}
	}
	.H-radio-label{
		padding-left: 5px;
	}
}
.H-radio + .H-radio { margin-left: 20px; }